body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
}

section {
    width: 95%;
    margin: auto;
}

.hide {
    display: none;
}

.feature-wrap span::before {
    content: "\002B";
}

.feature-wrap {
    border-bottom: 1px solid black;
}

#description {
    display: none;
}

button {
    text-transform: uppercase;
    background-color: white;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    border: none;
}

.button {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 1.2rem;
}

.spacer {
    width: 15%;
    margin: 25px auto;
    border-top: 1px solid black;
}

.materials-wrap {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.material-perc {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0px;
    text-align: center;
}

.material-name {
    font-size: 1.2em;
    letter-spacing: .2rem;
    font-weight: 400;
    margin: 0px;
    text-align: center;
}

@media screen and (min-width: 767px) {
    
section {
    width: 70%;
    margin: auto;
}

#title {
    width: 60%;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.feature-wrap {
    border-bottom: none;
}

#description-mobile {
    display: none;
}

#title > * {
    width: 33%;
}

button {
    border: 1px solid black;
    width: 100%;
}

.button p {
    display: none;
}

.feature-title {
    padding: 8px 0px;
    font-size: 1.2rem;
}

#description {
    display: block;
    margin-top: 60px;
}

.selected {
    background-color: black;
    color: white;
}

.materials-wrap {
    width: 65%;
}

.material-perc {
    font-size: 4.25em;
}

.material-name {
    font-size: 1.4em;
}
}